@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 0;
    margin: 0px;
    /* font-family: "Roboto", sans-serif;  */
    /* color: #333; */
    text-transform: capitalize;
  }
  a {
    @apply hover:text-green-600;
  }
  .links {
    @apply text-white  text-sm bg-transparent border-[1px] border-white rounded-3xl px-3 py-2 hover:text-green-600;
  }
  .trustedImg {
    @apply h-14 object-contain;
  }
  .item {
    @apply  flex flex-col gap-1;
  }
  .title {
    @apply  text-gray-600 ;
  }
  .desc {
    @apply text-lg font-medium ;
  }
}
